<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/app.css">
  <title>QUESTION</title>
</head>
<body>
<div class="main-container">
  <h1>{{ question.question }}</h1>
  <form action="/answer" method="POST">
    {% for choice in question.choices %}
    <p><input type="radio" name="answer" value="{{ choice }}"> {{ choice }}</p>
    {% endfor %}

    <button>Continue</button>
  </form>
</div>


</body>
</html>
